.home {
    min-height: 600px;
}
.subtitle {
    height: 36px;
    overflow: hidden;
}
.confirm, .loading-ajax {
    position: fixed;
    top: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background: #fff;
    z-index: 9999;
}
.confirm .loader, .loading-ajax .loader{
    background: #fff;
}
